<h1>Mehdi ZENBIL</h1>

<p>
  <a href="https://github.com/myzen2" target="_blank"><%= image_tag "github" %></a> : Mon compte github
</p>


<p>
  Vous pouvez me contacter par mail : mehdi.zenbil@orange.fr
</p>
<p>
  ou par téléphone au : 06.52.91.52.54.
</p>

<p>
  Merci pour cet exercice sympa !!!
</p>


<%= image_tag "beach", class: 'image' %>
